<!-- <header>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/dental_categories" class="drop-nav-links">Dental</a></li>
    <li><a href="#!" class="drop-nav-links">Cryotherapy</a></li>
    <li class="divider"></li>
  </ul>
  <nav>
    <div class="nav-wrapper"> -->
      <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
      <!-- <a href="/" class="nav-links" height="20px"> <%= link_to( image_tag( "/assets/xand.jpg"), image_path( "/assets/xand.jpg") )%></a> -->
      <!-- <a href="/"><img src="/assets/xand.jpg" alt="rss feed" height="100px" width="200px" class="margin-left" /></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-links" href="/pages/about">About</a></li>
        <li><a class="dropdown-button nav-links" href="#!" data-activates="dropdown1">Products<i class="material-icons right"></i></a></li>
        <li><a href="/pages/contact" class="nav-links">Contact</a></li>
      </ul>
    </div>
  </nav>
<header> -->
