<ul id="dropdown1" class="dropdown-content">
  <li><a href="/dental_categories" class="nav-links">Dental</a></li>
  <li><a href="#!">Cryotherapy</a></li>
  <li class="divider"></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <!-- <a href="/" class="nav-links" height="20px"> <%= link_to( image_tag( "/assets/xand.jpg"), image_path( "/assets/xand.jpg") )%></a> -->
    <img src="/assets/xand.jpg" alt="rss feed" height="60px" width="140px" />
    <ul class="right hide-on-med-and-down">
      <li><a class="nav-links" href="/pages/about">About</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button nav-links" href="#!" data-activates="dropdown1">Products<i class="material-icons right"></i></a></li>
      <li><a href="/pages/contact" class="nav-links">Contact</a></li>

    </ul>
  </div>
</nav>
