<header>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/pages/products" class="drop-nav-links">Dental</a></li>
    <li><a href="/pages/products" class="drop-nav-links">Cryotherapy</a></li>
    <li class="divider"></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/"><img src="http://res.cloudinary.com/xand/image/upload/v1498045358/xand_jrdgmi.jpg" alt="rss feed" height="100px" width="200px" class="margin-left" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:black">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-links" href="/pages/about">About</a></li>
        <li><a class="dropdown-button nav-links" href="#!" data-activates="dropdown1">Products<i class="material-icons right"></i></a></li>
        <li><a href="/pages/contact" class="nav-links">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/pages/about" class="side-nav-text">About</a></li>
        <li><a href="/pages/products" class="side-nav-text">Products</a></li>
        <li><a href="/pages/contact" class="side-nav-text">Contact</a></li>
      </ul>
    </div>
  </nav>
<header>
