<main>
  <div class="container">
    <div class="row" style="margin-top:80px">
      <div class="col s4">
        <h1> Xand </h1>
      </div>
      <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante diam, iaculis quis mauris sit amet, consectetur molestie nibh. Ut eu molestie erat. Sed imperdiet ligula quis enim fermentum suscipit nec quis orci. Phasellus id vehicula ligula. Duis dolor arcu, consequat eleifend aliquet vel, lobortis eu nulla. Aenean dapibus, arcu quis interdum ultricies, lorem tellus accumsan leo, ac molestie lacus odio eget risus. Mauris eget augue nunc. Nam pretium, est eget hendrerit hendrerit, sem nisi aliquam tellus, id vehicula nunc dolor vulputate diam. Mauris ut ex quis massa rutrum eleifend. Aliquam sit amet mauris tincidunt metus laoreet ultrices et non nulla. Vestibulum sapien dui, fringilla nec nulla ac, convallis tincidunt neque. Vestibulum quis blandit libero, eu maximus neque. Cras facilisis congue tortor, sit amet mollis orci aliquam quis. Quisque sit amet lorem at risus hendrerit consectetur vel in libero. Nam consectetur tristique nunc feugiat ullamcorper.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <h1> Xand </h1>
      </div>
      <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante diam, iaculis quis mauris sit amet, consectetur molestie nibh. Ut eu molestie erat. Sed imperdiet ligula quis enim fermentum suscipit nec quis orci. Phasellus id vehicula ligula. Duis dolor arcu, consequat eleifend aliquet vel, lobortis eu nulla. Aenean dapibus, arcu quis interdum ultricies, lorem tellus accumsan leo, ac molestie lacus odio eget risus. Mauris eget augue nunc. Nam pretium, est eget hendrerit hendrerit, sem nisi aliquam tellus, id vehicula nunc dolor vulputate diam. Mauris ut ex quis massa rutrum eleifend. Aliquam sit amet mauris tincidunt metus laoreet ultrices et non nulla. Vestibulum sapien dui, fringilla nec nulla ac, convallis tincidunt neque. Vestibulum quis blandit libero, eu maximus neque. Cras facilisis congue tortor, sit amet mollis orci aliquam quis. Quisque sit amet lorem at risus hendrerit consectetur vel in libero. Nam consectetur tristique nunc feugiat ullamcorper.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <h1> Xand </h1>
      </div>
      <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante diam, iaculis quis mauris sit amet, consectetur molestie nibh. Ut eu molestie erat. Sed imperdiet ligula quis enim fermentum suscipit nec quis orci. Phasellus id vehicula ligula. Duis dolor arcu, consequat eleifend aliquet vel, lobortis eu nulla. Aenean dapibus, arcu quis interdum ultricies, lorem tellus accumsan leo, ac molestie lacus odio eget risus. Mauris eget augue nunc. Nam pretium, est eget hendrerit hendrerit, sem nisi aliquam tellus, id vehicula nunc dolor vulputate diam. Mauris ut ex quis massa rutrum eleifend. Aliquam sit amet mauris tincidunt metus laoreet ultrices et non nulla. Vestibulum sapien dui, fringilla nec nulla ac, convallis tincidunt neque. Vestibulum quis blandit libero, eu maximus neque. Cras facilisis congue tortor, sit amet mollis orci aliquam quis. Quisque sit amet lorem at risus hendrerit consectetur vel in libero. Nam consectetur tristique nunc feugiat ullamcorper.</p>
      </div>
    </div>
  </div>
</main>
