<main>
  <div class="container">
    <div class="row">
      <div class="col s4">
        <h1 class="about-sub-title">About Us </h1>
      </div>
    </div>
    <div class="row" style="margin-top:80px">
      <div class="col s4">
        <img src="http://res.cloudinary.com/xand/image/upload/v1498045358/xand_jrdgmi.jpg" alt="rss feed" height="120px" width="230px" class="margin-left" />
        <!-- <h1> Xand </h1> -->
      </div>
      <div class="col s7">
        <p class="about-text-xand"><span style="font-weight:bold">Xand Innovations</span> with our partners bring technologies and services to meet the demands of providing the best possible patient care.<br>

        We pride ourselves in superior product knowledge and customer service, with always having the health care professional and patient in the forefront.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <h1 class="about-sub-title">Our Partners </h1>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img src="http://res.cloudinary.com/xand/image/upload/v1499476710/ionyx_o7ggu9.png"/>
      </div>
      <div class="col s8">
        <p class="about-text"><span style="font-weight:bold">IONYX</span> is a company that was founded in 1993 and was established in France in the Bordeaux region. It designs and manufactures specialised endodontic devices.
        <br>
        The IONYX range , which is intended for general practitioners devoted to improving the quality of their treatments as well as their comfort, was created with everyday practice and ease of use in mind.
        <br>
        The apex locators and the micromotors designed by IONYX are at the cutting edge of technology and respond to market requirements.
        <br>
        IONYX has a worldwide presence thanks to a powerful network of distributors established in nearly 50 countries.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img src="http://res.cloudinary.com/xand/image/upload/v1499477945/Freezsnow_logo_qy6wub.jpg" width="250px" style="margin-bottom: 20px"/>
      </div>
      <div class="col s8">
        <p class="about-text"><span style="font-weight:bold">AMBELIO</span> specializes in the postoperative cryotherapy market.
        <br>
        Patented Freezsnow® formula offers a stable and constant cold, non-aggressive to the skin avoiding any risk of lesions. It provides a long-lasting cold for optimal postoperative cryotherapy helping the patient recover faster and more naturally, reducing the need for pharmaceuticals.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img src="http://res.cloudinary.com/xand/image/upload/v1499476255/logo_ic_xfhl0b.jpg" width="300px"/>
      </div>
      <div class="col s8">
        <p class="about-text">Biotechnology for personalized oral therapy.
          <br> <span style="font-weight:bold">Institut Clinident</span> has developed innovative and precise diagnostic procedures for various oral infectious diseases using gingival crevicular fluid and saliva. The technology used is real time PCR (based on microbial, yeast & mould and viral genotyping) and mass spectrometry (based on volatile organic compound “VOC”). Institut Clinident will provide a rapid analytical service along with technical support for better treatment and prevention:
        <br>
        · Periodontal disease
        <br>
        · Peri-implantitis infection
        <br>
        · Caries disease
        <br>
        · Oral cancer risk
        <br>
        · Unit Oral</p>
      </div>
    </div>
  </div>
</main>
