<!-- <div>
  <img src="http://res.cloudinary.com/xand/image/upload/v1499681565/pm-0216-med-img_9519-393_zjlc7e.jpg" height="200px" width="100%"/>
</div> -->

<div class="flex-container" style="align-items:center">
  <div class="flex-item">
    <h3 class="contact-name"> Sandy Junior </h3>
    <h4>  enquiries@xandinnovations.com</h4>
    <h4> PO Box 7031 Alexandria NSW 2015 <h4>
    <h4> ph: 02 9029 0113</h4>
    <h4> mobile: 0428945858 </h4>
  </div>
</div>
