<main>
  <div class="row">
    <div class="col s7" style="margin-top:50px">
      <h1 class="margin-left welcome-title">Welcome</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
        <p class="margin-left welcome-text">
        <br><span style="font-weight:bold">Xand Innovations</span> is an Australian privately-owned company which imports and distributes dental and healthcare products across Australia.<br>

        Supported by strong clinical knowledge, Sandy Junior director and owner has over 30 years’ experience in the dental field. Through working with many clinicians both locally and globally Xand Innovations will continue to be dynamic, bringing high quality leading edge products to the Australian market.<br>

        In a fast paced ever changing world, we aim to provide products and services that meet the requirements of modern day practice.
        </p>
        <div class="row">
          <div class="col s1" style="margin-left: 60px">
            <a href="/pages/products">
              <button>Products</button>
            </a>
          </div>
          <!-- <div class="col s1 offset-s3">
            <a href="/pages/contact">
              <button>Contact</button>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col s5 slider">
        <ul class="slides">
          <li>
              <img src="http://res.cloudinary.com/xand/image/upload/v1499477154/Perio_image_ndvr0o.jpg" height="500px" width="700px" />
               <div class="caption center-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img src="http://res.cloudinary.com/xand/image/upload/v1499476259/woman_face_pain_sgx9lq.jpg" height="500px" width="700px" />
            <div class="caption left-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img src="http://res.cloudinary.com/xand/image/upload/v1499476274/2016-07-12_ENDY6200_COTE_uzwllj.png" height="500px" width="700px" />
            <div class="caption right-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <!-- <li>
            <img src="/assets/dental.jpg" height="500px" width="700px" />
            <div class="caption center-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</main>
