<div class="flex-container">
  <div class="flex-item" style="text-align:center">
    <!-- <div class="col s9 m6"> -->
      <img src="http://res.cloudinary.com/xand/image/upload/v1498045358/xand_jrdgmi.jpg" alt="rss feed" height="100px" width="200px"/>
      <div class="flex-item">
        <h4 class="flex-item"> Xand Innovations is underconstruction. Please check back soon! </h1>
        </div>
    </div>
  </div>
</div>
