/*
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: transparent !default;
 // $secondary-color: color("yellow", "base") !default;
 @import 'materialize';

nav {
  background-color: transparent;
  height: 100px;
  line-height: 30px;
}
nav ul li:hover {
   background-color: white;
}
.nav-links {
  color: #888888;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 30px;
  height: 40px;
  font-weight: 300;
}

.drop-nav-links {
  font-size: 50px;
  margin-top: 30px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

button {
  border-radius: 20px;
  font-size: 20px;
  color: #888888;
  background-color: transparent;
  border-color: #CB0000;
}

.page-footer {
  background-color: grey;
}

.margin-left {
  margin-left: 80px;
}
